@keyframes fadeIn{
    0%{opacity:0}
    50%{opacity:0}
    100%{opacity:1}
}

body {
    height: 100%;
    overflow-x: hidden;
    animation: fadeIn .75s ease-in-out;
    background: url('./img/logo-trans.svg');
}

img {
    max-width: 100%;
    display: block;
}

// highlight color
::selection {
    background: $primary;
    color: white;
}