@keyframes fadeIn{
    0%{opacity:0}
    50%{opacity:0}
    100%{opacity:1}
}

html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    overflow-x: hidden;
    animation: fadeIn .75s ease-in-out;
    background: url('./img/logo-trans.svg') center center no-repeat;
}

img {
    max-width: 100%;
    display: block;
}

// highlight color
::selection {
    background: $primary;
    color: white;
}

.container {
    @include container();
}